# ==========================================
# Core Python & OS Essentials
# ==========================================
__pycache__/
*.py[codz]
*$py.class
*.so
.DS_Store
Thumbs.db

# ==========================================
# Distribution, Packaging, & Environments
# ==========================================
build/
dist/
*.egg-info/
*.egg
.venv/
venv/
env/
.env

# ==========================================
# Testing, Linting, & Code Quality
# ==========================================
.pytest_cache/
.coverage
htmlcov/
.mypy_cache/
.ruff_cache/

# ==========================================
# IDEs & Notebooks
# ==========================================
.ipynb_checkpoints
.vscode/
tempCodeRunnerFile.py

# ==========================================
# Custom Project Additions
# ==========================================

# Test Notebooks
*test.ipynb

# Data
*.parquet

# Exports
/test_exports/*